# Introduction
--------------

Basic Python programming examples

In [4]:
#This is the simplest of the codes for Python

txt='Python is great!'
txt2=" The editor of this code is L Curiel"
print('\n Hello world I am editing! '+txt+txt2)
list1=[2,2,3]
print(list1[0])

 Hello world I am editing! Python is great! The editor of this code is L Curiel
2

We just ran our first Python code on a notebook!

Test your knowledge:

* Execute 3 of the code examples in the tutorial and add some Markdown cells

### Python strings
    Strings are defined as a set of characters represented in quotation marks.

In [6]:
str = 'Manikandan Rajasekaran'

print str          # It Prints the whole string
print str[6]       # Prints sixth character of the string
print str[3:6]     # Prints characters starting from 3rd to 6th
print str[2:]      # Prints string starting from 3rd character
print str * 3      # Prints the whole string three times
print str + "ME" # Prints concatenated string

Manikandan Rajasekaran
n
ika
nikandan Rajasekaran
Manikandan RajasekaranManikandan RajasekaranManikandan Rajasekaran
Manikandan RajasekaranME

### Assigning values to variables
     Python variables does not need a memory space. It happens automatically when a value is assigned to a variable and the (=) sign is used to assign thr value to a variable.

In [7]:
Age = 25          # An integer assignment
miles   = 1000.0       # A floating point
name    = "Manikandan"       # A string

print Age
print miles
print name

25
1000.0
Manikandan

### Arithmatic Operations
    In python we have operators to do the arithmatic operation. They are addition, Subraction, multiplication, Division etc.

In [10]:
A = 10   #integer assignment
B = 15   #integer assignment
Addition = A + B #Adding two integers
Subraction = A - B # subracting two integers
print Addition
print Subraction

25
-5

### List and list Functions
     The List is one of the data types available in python. It can be written as a list of comma seperated values between the square bracket.

In [12]:
Name = ['mani', 'john', 'stanly']
Age= [15, 25, 23];
course = ['ECE', 'CS', 'MEC'];

print ("Name[0]: ", Name[0])
print ("Age[0]: ", Age[0])
print ("course[0]: ", course[0])

('Name[0]: ', 'mani')
('Age[0]: ', 15)
('course[0]: ', 'ECE')